<{extends file='application/templates/admin/layout.html'}>
<{block name=body}>
<div class="hander-content">
    <div class="row">
        <section class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">待查看消息</div>
                <div class="panel-body">
                    <p>待查看消息0条</p>
                </div>
            </div>
        </section>
        <section class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">待处理订单</div>
                <div class="panel-body">
                    <p>待处理订单0条</p>
                </div>
            </div>
        </section>
        <section class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">待查提现金额</div>
                <div class="panel-body">
                    <p>待查提现金额0.00元</p>
                </div>
            </div>
        </section>
        <section class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">昨日浏览</div>
                <div class="panel-body">
                    <p>昨日浏览0条</p>
                </div>
            </div>
        </section>
    </div>
</div>

<{/block}>